/* Ann Beimers and Matthew Smith-Erb */

body {
	  margin: 0px;
		text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: white;
}

#title {
	background-color: black;
	color: white;
	margin: 0px;
	text-align: center;
	letter-spacing: 7px;
	word-spacing: 10px;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 20px;
}

#navbar{
  background-color: black;
	margin: 0px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

h2 {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 3px;
}

#search-contents {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 40px;
}

<<<<<<< HEAD
#search-contents > div {
    width: 33%;
    text-align: center;
}

=======
/* Dropdown Button */
.dropbtn {
 background-color: #DCDCDC;
 color: Black;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
 background-color: White;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

>>>>>>> 4a6baf64f341bff3c2fe85d9965c2c889c0e11e8
#results-contents {
	height: 80vh;
	display: flex;
	justify-content: space-evenly;
}

#left-webplayer {
	width: 20%;
	background-color: #DCDCDC;
}

#attribute-contents {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 60%;
}

#right-webplayer {
	width: 20%;
	background-color: #DCDCDC;
}

.button {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
	padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.home {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.home:hover {
	background-color: #4CAF50;
	color: white;
}

.comparator-nav {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.comparator-nav:hover {
	background-color: #4CAF50;
	color: white;
}

.new-music-nav {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.new-music-nav:hover {
	background-color: #4CAF50;
	color: white;
}

.lookup-nav {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.lookup-nav:hover {
	background-color: #4CAF50;
	color: white;
}

.data {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.left {
	display: flex;
	justify-content: flex-end;
	width: 25%;
}

<<<<<<< HEAD
.left-button {
	width: 100%;
=======
.left1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	width: 200px;
>>>>>>> 4a6baf64f341bff3c2fe85d9965c2c889c0e11e8
}

.left1:hover {
	background-color: #4CAF50;
	color: white;
}

.middle {
	text-align: center;
	width: 15%;
}

.right {
	display: flex;
	justify-content: flex-start;
	width: 25%;
}

<<<<<<< HEAD
.right-button {
	width: 50%;
=======
.right1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	width: 86px;
}

.right1:hover {
	background-color: #4CAF50;
	color: white;
}

.button-go {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}
>>>>>>> 4a6baf64f341bff3c2fe85d9965c2c889c0e11e8

.button-go:hover {
	background-color: #4CAF50;
	color: white;
}
