/* Ann Beimers and Matthew Smith-Erb */

h2 {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 3px;
}

/* Dropdown Button */
select {
	background-color: #DCDCDC;
	color: Black;
	font-size: 16px;
	padding: 5px;
	border: none;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

#search-contents {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}

#search-contents > div {
	width: 25%;
	text-align: right;
}

#results{
	margin: 0px;
}

#results-contents {
	height: 80vh;
	display: flex;
	justify-content: space-evenly;
}

#attribute-contents {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 80%;
}

#go-div {
	width: 10% !important;
}

.webplayer-container {
	width: 30%;
	height: 100%;
	background-color: #DCDCDC;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.webplayer-instruction{
	padding: 15px;
	text-align: left;
}

.webplayer{
	border-radius: 15px;
	border-width: 0px;
	width: 100%;
	height: 60%;
}

.option-input{
	width: 60%;
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	border-radius: 6px;
	border-style: solid;
	border-color: #4CAF50;
}

.data {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.left {
	display: flex;
	justify-content: flex-end;
	width: 35%;
}

.middle {
	text-align: center;
	width: 15%;
}

.right {
	display: flex;
	justify-content: flex-start;
	width: 35%;
}

.data-bar{
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	width: 100%;
	display: inline-block;
}

.data-bar:hover{
	background-color: #4CAF50;
	color: white;
}

.least-color{
	border-color: #003F91;
}
.least-color:hover{
	background-color:#003F91 !important;
	color: white;
}

.column-label{
	font-weight: bold;
}

.top-options{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

.top-options > button{
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	color: black;
	border-width: 1px;
	border-style: solid;
	border-top: none;
	padding: 3px;
	width: 60%;
	text-align: left;
}

.top-options > button:focus, .top-options > button:hover{
	font-family: 'Montserrat', sans-serif;
	background-color: MintCream;
	color: black;
	border-width: 2px;
	border-style: solid;
	padding: 3px;
	width: 60%;
	text-align: left;
}
