/* Ann Beimers and Matthew Smith-Erb */

body {
	  margin: 0px;
		text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: white;
}

#title {
	background-color: black;
	color: white;
	margin: 0px;
	text-align: center;
	letter-spacing: 7px;
	word-spacing: 10px;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 20px;
}
