/* Ann Beimers and Matthew Smith-Erb */

body {
	  margin: 0px;
		text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: white;
}

#title {
	background-color: black;
	color: white;
	margin: 0px;
	text-align: center;
	letter-spacing: 7px;
	word-spacing: 10px;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 20px;
}

#navbar{
  background-color: black;
	margin: 0px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.button {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
	padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.home {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.home:hover {
	background-color: #4CAF50;
	color: white;
}

.comparator-nav {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.comparator-nav:hover {
	background-color: #4CAF50;
	color: white;
}

.new-music-nav {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.new-music-nav:hover {
	background-color: #4CAF50;
	color: white;
}

.lookup-nav {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.lookup-nav:hover {
	background-color: #4CAF50;
	color: white;
}
