<!-- Ann Beimers and Matthew Smith-Erb -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='comparator.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='comparator.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>

<body>
    <div id="title">
        <h1>Music Mania</h1>
    </div>
    <div id="navbar">
        <button onclick="location.href='http://localhost:5000/'" id="home">Home</button>
        <button onclick="location.href='http://localhost:5000/comparator.html'" id="comparator-nav">Comparator</button>
        <button id="new-music-nav">Find New Music</button>
        <button id="lookup-nav">Artist/Year Lookup</button>
    </div>
    <div id="content">
        <h2>Comparator</h2>
        <div id="search-contents">
            <select name="options" id="options">
                <option value="Artists">Artists</option>
                <option value="Songs">Songs</option>
                <option value="Years">Years</option>
            </select>
        </div>
        <div id="results-contents">

        </div>
    </div>

</body>
</html>
