<!-- Ann Beimers and Matthew Smith-Erb -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='comparator.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='comparator.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>

<body>
    <div id="title">
        <h1>Music Mania</h1>
    </div>
    <div id="navbar">
        <button onclick="location.href='http://localhost:5000/'" id="home">Home</button>
        <button onclick="location.href='http://localhost:5000/comparator.html'" id="comparator-nav">Comparator</button>
        <button id="new-music-nav">Find New Music</button>
        <button id="lookup-nav">Artist/Year Lookup</button>
    </div>
    <div id="content">
        <h2>Comparator</h2>
        <div id="search-contents">
					<div>
					<label for="options">What do you want to search for?</label>
            <select name="options" id="options">
                <option value="Artists">Artists</option>
                <option value="Songs">Songs</option>
                <option value="Years">Years</option>
            </select>
				  </div>
				  <div>
						<label for="options">Option 1</label>
						<input id="option1_input" type="text"/>
				  </div>
			  	<div>
						<label for="options">Option 2</label>
						<input id="option2_input" type="text"/>
				  </div>
			</div>

			<button id="go">Go!</button>

				<h2>RESULTS</h2>

        <div id="results-contents">

					<div id="left-webplayer">
						Left
					</div>

					<div id="attribute-contents">
						<div class="data" id="popularity">
							<div class="left">
								<button class="left-button"></button>
							</div>
							<div class="middle">
								popularity
							</div>
							<div class="right">
								<button class="right-button"></button>
							</div>
						</div>

						<div class="data" id="danceability">
							<div class="left">
							</div>
							<div class="middle">
								danceability
							</div>
							<div class="right">
							</div>
						</div>

						<div class="data" id="speechiness">
							<div class="left">
							</div>
							<div class="middle">
								speechiness
							</div>
							<div class="right">
							</div>
						</div>

						<div class="data" id="duration">
							<div class="left">
							</div>
							<div class="middle">
								duration
							</div>
							<div class="right">
							</div>
						</div>

						<div class="data" id="energy">
							<div class="left">
							</div>
							<div class="middle">
								energy
							</div>
							<div class="right">
							</div>
						</div>

						<div class="data" id="loudness">
							<div class="left">
							</div>
							<div class="middle">
								loudness
							</div>
							<div class="right">
							</div>
						</div>

						<div class="data" id="acousticness">
							<div class="left">
							</div>
							<div class="middle">
								acousticness
							</div>
							<div class="right">
							</div>
						</div>

						<div class="data" id="valence">
							<div class="left">
							</div>
							<div class="middle">
								valence
							</div>
							<div class="right">
							</div>
						</div>

						<div class="data" id="tempo">
							<div class="left">
							</div>
							<div class="middle">
								tempo
							</div>
							<div class="right">
							</div>
						</div>
					</div>

					<div class="data" id="right-webplayer">
							Right
					</div>

        </div>
    </div>

</body>
</html>
