<!-- Ann Beimers and Matthew Smith-Erb -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>

<body>
		<div id="title">
    <h1>Spotify web app</h1>

		<h2> Enter a year between 1920 and 2021: </h2>

    <input id="search_input" type="number" list="years" name="year" placeholder="Enter a year"/>
    <button id="search">Search</button>
	  </div>

		<ul id="attribute_list">

		</ul>


</body>
</html>
