<!-- Ann Beimers and Matthew Smith-Erb -->

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navigation.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='navigation.js') }}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<title>Music Mania</title>
</head>

<body>
    <div id="title">
        <h1>Music Mania</h1>
    </div>
    <div id="navbar">
		<button id="index-nav" class="nav-button">Home</button>
		<button id="comparator-nav" class="nav-button">Comparator</button>
		<button id="newmusic-nav" class="nav-button">Find New Music</button>
		<button id="lookup-nav" class="nav-button">Artist/Year Lookup</button>
    </div>

		<div id="content">
			<h2> Homepage </h2>
		</div>



</body>
</html>
