<!-- Ann Beimers and Matthew Smith-Erb -->

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navigation.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pages.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='newmusic.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='navigation.js') }}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<title>New Music</title>
</head>

<body>
	<div id="title">
		<h1>Music Mania</h1>
	</div>
	<div id="navbar">
		<button id="index-nav" class="nav-button">Home</button>
		<button id="comparator-nav" class="nav-button">Comparator</button>
		<button id="newmusic-nav" class="nav-button">Find New Music</button>
		<button id="lookup-nav" class="nav-button">Artist/Year Lookup</button>
	</div>
	<div id="content">
		<h2>New Music</h2>
		<h3> Enter your two favorite artists, and we will give you three new artists we think you will like! </h3>
		<div id="search-contents">
			<div>
				<label for="options" id="option1_label">artist 1</label>
				<input class="option-input" id="option1_input" type="text" placeholder="enter an artist"/>
				<div id="top-options1" class="top-options">
				</div>
			</div>
			<div>
				<label for="options" id="option2_label">artist 2</label>
				<input class="option-input" id="option2_input" type="text" placeholder="enter an artist"/>
				<div id="top-options2" class="top-options">
				</div>
			</div>
			<div id="go-div">
				<button id="go" class="nav-button">Go!</button>
			</div>
		</div>
		<h2 id="results" style="visibility: hidden">RESULTS</h2>
		<div id="results-contents" style="visibility: hidden">
			<div class="webplayer-container suggestion">
				<iframe id="webplayer1" class="webplayer" src="" allow="encrypted-media" ></iframe>
				<h2 id="name1" class="webplayer-name"></h2>
			</div>
			<div class="webplayer-container suggestion">
				<iframe id="webplayer2" class="webplayer" src="" allow="encrypted-media" ></iframe>
				<h2 id="name2" class="webplayer-name"></h2>
			</div>
			<div class="webplayer-container suggestion">
				<iframe id="webplayer3" class="webplayer" src="" allow="encrypted-media" ></iframe>
				<h2 id="name3" class="webplayer-name"></h2>
			</div>
		</div>
	</div>
</body>
</html>
